[Desktop Entry]
Encoding=UTF-8
Name=到 https://img-blog.csdnimg.cn/img_convert/754c61f9f1c1e999d9a72654a6f2db65.png 的链接
Type=Link
URL=https://img-blog.csdnimg.cn/img_convert/754c61f9f1c1e999d9a72654a6f2db65.png
Icon=image-png
